<h1 mat-dialog-title>Room Booking</h1>
<div mat-dialog-content>
    <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="guestForm">
        <form [formGroup]="guestForm">
            <ng-template matStepLabel>Guest Details</ng-template>
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="guestName" matInput placeholder="Enter Guest Name">
                <mat-error *ngIf="(guestForm.controls['guestName'].errors)">
                    Enter valid name
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Age</mat-label>
                <input formControlName="guestAge" matInput type="number" placeholder="Enter Guest Age">
                <mat-error *ngIf="(guestForm.controls['guestAge'].errors)">
                    Age between 18 and 90
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Contact Number</mat-label>
                <input formControlName="guestContactNumber" matInput type="number" placeholder="Enter Guest Contact Number">
                <mat-error *ngIf="(!guestForm.controls['guestContactNumber'].valid)">
                    Enter valid contact number
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email Id</mat-label>
                <input formControlName="guestEmailId" matInput placeholder="Enter Guest Email Id">
                <mat-error *ngIf="(!guestForm.controls['guestEmailId'].valid)">
                    Enter valid Email
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input formControlName="guestAddress" matInput placeholder="Enter Guest Address">
                <mat-error *ngIf="(!guestForm.controls['guestAddress'].valid) ">
                    Enter valid Address
                </mat-error>
            </mat-form-field>

            <div>
            <button mat-raised-button color="primary" [disabled]="!guestForm.valid" matStepperNext (click)="addGuest()">Next</button>
            </div>
        </form>
        </mat-step>


        <!-- Booking Form -->
        <mat-step [stepControl]="bookingForm" label="Booking Details">
            <form [formGroup]="bookingForm">

                <!-- Check - In - Out Date -->

                <mat-form-field appearance="outline">
                    <mat-label>Check-In and Check-out Date</mat-label>
                    <mat-date-range-input [rangePicker]="picker" [min]="minDate" >
                        <input formControlName="checkInDate" matStartDate [disabled]="bookingForm.controls['checkInDate'].valid" placeholder="Check-In-Date">
                        <input formControlName="checkOutDate" matEndDate [disabled]="bookingForm.controls['checkOutDate'].valid" placeholder="Check-Out-Date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Room Number</mat-label>
                    <input formControlName="roomId"  matInput [disabled]="!bookingForm.controls['roomId'].valid" placeholder="Enter Guest Contact Number">
                </mat-form-field>

                <div>
                    <!-- <button mat-button matStepperPrevious>Back</button> -->
                    <button mat-raised-button color="primary" matStepperNext [disabled]="!bookingForm.valid" (click)="addBookingDetails()">Next</button>
                </div>
            </form>
        </mat-step>



        <!-- Payment Form -->
        <mat-step label="Payment Details">
            <label>Total Price : {{bookingForm.controls['totalPrice'].value}}</label>
            <form [formGroup]="paymentForm">
                <!-- <ng-template matStepLabel>Payment Details</ng-template> -->

                <mat-form-field appearance="outline" >
                    <mat-label>Payment Mode</mat-label>
                    <input formControlName="paymentMode" matInput placeholder="Enter Guest Name" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Payment Status</mat-label>
                    <mat-select formControlName="paymentStatus" required>
                        <mat-option value="true">Payment Confirm</mat-option>
                        <mat-option value="false">Payment Not Done</mat-option>
                    </mat-select>
                </mat-form-field>


                <div>
                <button mat-raised-button color="primary" matStepperNext [disabled]="!paymentForm.valid" (click)="finalBooking()">Next</button>
                </div>
            </form>

        </mat-step>

        <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <!-- <button mat-button matStepperPrevious>Back</button> -->
            <button mat-raised-button (click)="stepper.reset()" (click)="resetData()">Reset</button>
            <!-- <button mat-raised-button (click)="printreceipt()">Print Receipt</button> -->
        </div>
        </mat-step>
    </mat-stepper>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close="">Close</button>
</div>
