.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


.page {
    /* color: white; */
    padding: 0 1rem;
    background: #f1f5f9;
  }

.page__box{
    min-height: 90px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
}

.page__content{
    min-height: calc(110vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    /* font-size: 2rem; */
    margin-bottom: 150%;
}
.heading{
    margin-top: 1%;
    color: white;
}





/* Form COntrol */
.body {
    font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  select{
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
.form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.50rem;
    padding: 1.5rem;
  }

  .form-step {
    transform-origin: top;
    animation: animate 0.5s;
  }
  
  .text-center {
    text-align: center;
  }
  .input-group {
    margin: 1rem 0;
  }

  .btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
  .btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: rgb(11, 78, 179);
    color: #f3f3f3;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
  }
  .btn:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px rgb(11, 78, 179);
  }


  /* progress */
  .progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 2rem 0 4rem;
  }
  .progressbar::before,
  .progress {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 50%;
    /* background-color: #dcdcdc; */
    background-color: rgb(11, 78, 179);
    z-index: -1;
  }
  .progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .progress-step::before {
    counter-increment: step;
    content: counter(step);
  }
  
  .progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
  }
  .progress-step-active {
    background-color: rgb(11, 78, 179);
    color: #f3f3f3;
  }