<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><p class="heading">Book Room</p></div>
      <div class="body">


        <!-- Add Guest detail -->
        <form class="form" action="" [hidden]="guestToggle">
          <h1 class="text-center">Guest Detail</h1>
          <div class="progressbar">
            <div class="progress" id="progress"></div>
            <div class="progress-step progress-step-active" data-title="Guest"></div>
            <div class="progress-step" data-title="Booking"></div>
            <div class="progress-step" data-title="Payment"></div>
            <div class="progress-step" data-title="Status"></div>
          </div>

          <div class="form-step">
            <div class="input-group">
              <label for="guestName">Name</label>
              <input type="text" name="guestName" [(ngModel)]="guest.guestName" placeholder="Enter Guest Name"/>
            </div>

            <div class="input-group">
              <label for="guestAge">Age</label>
              <input type="number" name="guestAge" [(ngModel)]="guest.guestAge" id="" placeholder="Enter Guest Age"/>
            </div>

            <div class="input-group">
              <label for="guestContactNumber">Contact Number</label>
              <input type="text" name="guestContactNumber"  [(ngModel)]="guest.guestContactNumber" id="" placeholder="Enter Guest Contact Number"/>
            </div>

            <div class="input-group">
              <label for="guestEmailId">Email Id</label>
              <input type="text" name="guestEmailId" [(ngModel)]="guest.guestEmailId" id="" placeholder="Enter Guest Email Id" />
            </div>

            <div class="input-group">
              <label for="guestAddress">Address</label>
              <input type="text" name="guestAddress" [(ngModel)]="guest.guestAddress" id="" placeholder="Enter Guest Address" />
            </div>

            <div class="">
              
              <a class="btn btn-next width-50 ml-auto" (click)="guestNext()">Next</a>
            </div>
          </div>
        </form>

        <!-- Add check-in, check-out and room detail -->
        <form class="form" [hidden]="bookingToggle">
          <h1 class="text-center">Booking Detail</h1>
          <div class="progressbar">
            <div class="progress" id="progress"></div>
            <div class="progress-step progress-step-active" data-title="Guest"></div>
            <div class="progress-step progress-step-active" data-title="Booking"></div>
            <div class="progress-step" data-title="Payment"></div>
            <div class="progress-step" data-title="Status"></div>
          </div>

          <div class="form-step">
            <div class="input-group">
              <label  for="chekInDate">Check In Date</label>
              <input type="date" [(ngModel)]="bookingDetail.checkInDate" name="checkInDate" />
            </div>

            <div class="input-group"> 
              <label for="checkOutDate">Check Out Date</label>
              <input type="date" name="checkOutDate" [(ngModel)]="bookingDetail.checkOutDate" />
            </div>

            <div class="input-group">
              <label for="roomId">Room Number</label>
              <input type="text" name="roomId" [(ngModel)]="bookingDetail.roomId" placeholder="Enter Room Number" />
            </div>

            <div class="btns-group">
              <a class="btn btn-prev" (click)="bookingPrev()">Previous</a>
              <a class="btn btn-next width-50 ml-auto" (click)="bookingNext()">Next</a>
            </div>
          </div>
        </form>


        


        <!-- Add Payment detail -->
        <form class="form" action="" [hidden]="paymentToggle">
          <h1 class="text-center">Payment</h1>
          <div class="progressbar">
            <div class="progress" id="progress"></div>
            <div class="progress-step progress-step-active" data-title="Guest"></div>
            <div class="progress-step progress-step-active" data-title="Booking"></div>
            <div class="progress-step progress-step-active" data-title="Payment"></div>
            <div class="progress-step" data-title="Status"></div>
          </div>

          <div class="form-step">

            <div class="input-group">
              <label for="">Booking Id : {{bookingRes.bookingId}} <br> Total Price {{bookingRes.price}}</label>
              <!-- <label for="">Total Price {{price}}</label> -->
            </div>

            <div class="input-group">
              <label for="paymentMode">Payment Mode</label>
              <input type="text" name="paymentMode" [(ngModel)]="paymentDetail.paymentMode" placeholder="Enter Mode Of Payment"/>
            </div>

            <div class="input-group">
              <label for="paymentStatus">Payment Status</label>
              <select name="paymentStatus" [(ngModel)]="paymentDetail.paymentStatus" >
                <option value="true">Payment Confirm</option>
                <option value="false">Payment Not Done</option>
              </select>
            </div>

            <div class="btns-group">
              <a class="btn btn-prev" (click)="paymentPrev()">Previous</a>
              <a class="btn btn-next width-50 ml-auto" (click)="paymentNext()">Submit</a>
            </div>
          </div>
        </form>

        <!-- Status -->
        <form class="form" action="" [hidden]="statusToggle">
          <h1 class="text-center">Booking Status</h1>
          <div class="progressbar">
            <div class="progress" id="progress"></div>
            <div class="progress-step progress-step-active" data-title="Guest"></div>
            <div class="progress-step progress-step-active" data-title="Booking"></div>
            <div class="progress-step progress-step-active" data-title="Payment"></div>
            <div class="progress-step progress-step-active" data-title="Status"></div>
          </div>
          {{message}}
        </form>
      </div>
      
    </div>
