<!-- <p>booking works!</p> -->
<!-- <p>add-guest works!</p> -->
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Book Room</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="main">
        <form>
            <div class="form-group" >
                <label class="text-class" for="guestId">Guest Id</label>
                <input type="email" class="form-control" id="guestId" aria-describedby="emailHelp" placeholder="Enter Guest Id">
            </div>
            <div class="form-group">
                <label class="text-class" for="guestName">Guest Name</label>
                <input type="email" class="form-control" id="guestName" aria-describedby="emailHelp" placeholder="Enter Guest Name">
            </div>
            <div class="form-group">
                <label class="text-class" for="guestAge">Guest Age</label>
                <input type="email" class="form-control" id="guestAge" aria-describedby="emailHelp" placeholder="Enter Guest Age">
            </div>
            <div class="form-group">
                <label class="text-class" for="guestContact">Contact Number</label>
                <input type="email" class="form-control" id="guestContact" aria-describedby="emailHelp" placeholder="Enter Contact Number">
            </div>
            <div class="form-group">
              <label class="text-class" for="guestEmail">Email address</label>
              <input type="email" class="form-control" id="guestEmail" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label class="text-class" for="guestAddress">Address</label>
              <input type="password" class="form-control" id="guestAddress" placeholder="Enter Address">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
</div>