<!-- <p>add-guest works!</p> -->
<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2"><p class="heading">Add Guest</p></div>
    <!-- <div class="page__content shadow p-3 position-relative"> -->
      <div class="main">
        <form #guestForm="ngForm" (ngSubmit)="addGuestDetail()">
            <div class="form-group">
                <label class="text-class" for="guestName">Guest Name</label>
                <input type="text" class="form-control" [(ngModel)]="guest.guestName" name="guestName" placeholder="Enter Guest Name">
            </div>
            <div class="form-group">
                <label class="text-class" for="guestAge">Guest Age</label>
                <input type="text" class="form-control" [(ngModel)]="guest.guestAge" name="guestAge" placeholder="Enter Guest Age">
            </div>
            <div class="form-group">
                <label class="text-class" for="guestContact">Contact Number</label>
                <input type="text" class="form-control" [(ngModel)]="guest.guestContactNumber" name="guestContact" placeholder="Enter Contact Number">
            </div>
            <div class="form-group">
              <label class="text-class" for="guestEmail">Email address</label>
              <input type="text" class="form-control" [(ngModel)]="guest.guestEmailId" name="guestEmail" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label class="text-class" for="guestAddress">Address</label>
              <input type="text" class="form-control" [(ngModel)]="guest.guestAddress" name="guestAddress" placeholder="Enter Address">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    <!-- </div> -->
</div>