.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
  }

.page__box{
    min-height: 90px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
}

.page__content{
    min-height: calc(110vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    /* font-size: 2rem; */
    margin-bottom: 150%;
}
.page__content-date{
    top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
.main{ 
    /* background:#417D7A;  */
    background: linear-gradient(120deg,#417D7A, #EDE6DB);
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 18%;
    padding-bottom: 3%;
    position: absolute;
    border-radius: 10px;
    top: 30%;
    left: 30%;
}

.text-class{
    color: wheat;
    margin-bottom: 1%;
}
.form-group{
    margin-top: 5%;
}
.form-control{
    width: 180%;;
}
.heading{
    margin-top: 1%;
}