<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Login</mat-card-title>
      <mat-card-content>
        <form action="" [formGroup]="loginForm">
          <mat-form-field appearance="outline">
              <mat-label>User Name</mat-label>
              <input formControlName="username" matInput placeholder="Enter User Name">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput type="password" placeholder="Enter Password">
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" class="login-button" (click)="loginClick()">
          Sign In
        </button>
      </mat-card-content>
  </mat-card>
</div>
<router-outlet></router-outlet>