<h1 mat-dialog-title>Guest</h1>
<div mat-dialog-content>

    <form [formGroup]="guestForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="guestName" matInput placeholder="Enter Guest Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Age</mat-label>
            <input formControlName="guestAge" matInput type="number" placeholder="Enter Guest Age">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contact Number</mat-label>
            <input formControlName="guestContactNumber" matInput type="number" placeholder="Enter Guest Contact Number">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email Id</mat-label>
            <input formControlName="guestEmailId" matInput placeholder="Enter Guest Email Id">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input formControlName="guestAddress" matInput placeholder="Enter Guest Address">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close="">Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>
