<h1 mat-dialog-title>Guest</h1>
<div mat-dialog-content>

    <form [formGroup]="productForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="productName" matInput placeholder="Enter Product Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <input formControlName="productCategory" matInput placeholder="Enter Product Category">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input formControlName="quantity" matInput type="number" placeholder="Enter Quantity">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close="">Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>
