.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
  }

.page__box{
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
}

.page__content{
    /* min-height: calc(110vh - 178px); */
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    margin-bottom: 150%;
}
.page__content-date{
    top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
.heading{
    margin-top: 1%;
}