<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/owner/addguest" >
         <mat-icon>person</mat-icon> Add Guest 
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/owner/guest" >
        <mat-icon>person_outline</mat-icon> Guest Service 
   </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/owner/booking">
         <mat-icon>bed</mat-icon> Book Room
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/owner/inventory">
        <mat-icon>inventory</mat-icon> Inventory
   </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
</mat-nav-list>
